<launch>

  <!-- USE: roslaunch my_robot_description urdf_visualize.launch model:='$(find myrobot_package)/urdf/myrobot.urdf' -->
  <arg name="model" default=""/>


  <param name="robot_description" command="cat $(arg model)" />

  <!-- send fake joint values
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="TRUE"/>
  </node> -->
  
 <node pkg="my_robot_description" type="demonstration" name="demonstration" output="screen"/>

  <!-- Combine joint values -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <!-- Show in Rviz   -->
  <!--<node name="rviz" pkg="rviz" type="rviz" args="-d $(find my_mira_description)/rviz_config/urdf.rviz"/>-->
  <node name="rviz" pkg="rviz" type="rviz" args="-d /home/christo/Projet_Little_Fat/catkin_ws/src/my_robot_description/rviz_config/rviz_little_fat.rviz"/>

</launch>