.navbar img{
    height: 6vh;
}

.hero-section img{
    height: 50vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.conf_motor button{
    margin:auto;
    display:block;
}

.conf_motor h2{
    text-align: center;
}

/* SLIDER PART */

.div_axe{
  margin-top: 5px;
  margin-bottom: 5px;
}

.test_pad{
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;;
  padding-bottom: 5px;
  border: 2px solid #c3c3c3;
  border-radius: 20px;
  background-color: #e3e3e3;
}

.zboub{
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid grey;
}

.connexion{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.connexion label{
  display: block;
  text-align: center;
}

.connexion button{
  display: block;
  margin: 0 auto;
}

.connexion input{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.slidecontainer {
  width: 100%; 
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #04AA6D;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
  }
